@import url('./colors.css');

header, #menu{
    font-family: SalmaProMedium;
}

header{
    position: fixed;
    grid-column: 1/14;
    
    width: 100%;
    height: 10rem;

    display: grid;
    grid-template-columns: repeat(13, 1fr);
    align-items: center;
}

header #landing-page{
    color: gray;
    grid-column: 1/4;
    font-size: 1.5rem;

    text-decoration: none;

    justify-self: center;
    text-transform: uppercase;
    font-weight: bold;

    transition: color 0.5s !important;
}

#landing-page:hover{
    color: var(--lapis-lazuli) !important;
}

#menu-button{
    grid-column: 11/14;
    width: 10rem;
    height: 10rem;

    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-button div{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    transition: margin-bottom 0.5s;
}

#menu-button div h3{
    color: gray;
    border: 1px solid gray;
    background-color: transparent;

    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;

    width: 12rem;
    height: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5rem;
    position: relative;
    overflow: hidden;
}

#menu-button div svg{
    width: 10rem;
    height: 0.5rem;
    scale: 0.65 0.5;
}

#menu-button div:hover{
    cursor: pointer;
}

#menu{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.918);
    color: var(--gray-smoke);

    backdrop-filter: blur(10px);

    z-index: 0;

    left: -110%;
    transition: left 1.25s ease;

    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#menu nav{
    grid-row: 3/17;
    grid-column: 2/9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#menu nav a{
    color: var(--gray-smoke);

    font-size: 12rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 11rem;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: padding-left 0.5s, color 0.5s;
}

#menu nav a span{
    width: 3rem;
    aspect-ratio: 1/1;

    font-size: 5rem;
    transform: rotateZ(90deg);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s;
}

#menu nav a:hover > span{
    transform: rotateZ(180deg);
}

#menu nav a:hover{
    padding-left: 10rem;
    color: var(--prussian-blue);
}

#menu #slogans{
    grid-row: 19/20;
    grid-column: 1/14;

    color: var(--gray-smoke);
    font-size: 1.25rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu #socials{
    grid-row: 3/17;
    grid-column: 10/13;

    font-weight: 700;
    text-transform: uppercase;

    position: relative;
}

#socials ul{
    list-style: none;
    
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 0.5rem;

    position: absolute;
    right: 20%;
    top: 11%;
}

#socials ul li{
    display: flex;
    align-items: center;
    transition: padding-right 0.5s, color 0.5s;
}

#socials ul li a{
    color: inherit;
    text-decoration: none;
}

#socials ul li span{
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s;
    margin-left: 1rem;
}

#socials ul li:hover{
    cursor: pointer;
    padding-right: 2.5rem;
    color: var(--prussian-blue);
}

#socials ul li:hover > span{
    transform: rotateZ(-180deg);
}