#blur-div{
    position: fixed;
    left: 0;
    top: 0;

    width: 100% !important;
    height: 100% !important;
    
    /* background-color: red; */

    z-index: -2;
}

main{
    position: relative;

    width: 100%;

    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(40, 5rem);

    background: transparent;

    z-index: -1;
}

main #embrace-innovation, #captivate-interest{
    grid-row: 3/15;
    grid-column: 3/20;

    /* border: 1px solid red; */

    display: flex;
    align-items: center;

    font-size: 15rem;
    opacity: 0.95;
    color: var(--prussian-blue);

    mix-blend-mode: difference !important;

    font-weight: 600;
    text-transform: uppercase;

    background: -webkit-linear-gradient(-90deg, var(--prussian-blue), rgb(172, 147, 172));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#captivate-interest{
    grid-row: 18/25;
    grid-column: 3/20;

    text-align: right;
}