#blur-div{
    position: fixed;
    left: 0;
    top: 0;

    width: 100% !important;
    height: 100% !important;
    
    background-color: transparent;
    backdrop-filter: blur(0px);

    z-index: -2;
}

main{
    position: relative;

    width: 100%;

    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(20, 5rem);

    background: transparent;

    z-index: -1;
}

main #embrace-innovation, #captivate-interest{
    grid-row: 3/9;
    grid-column: 3/13;

    /* border: 1px solid red; */

    display: flex;
    align-items: center;

    font-size: 10rem;
    opacity: 1;
    color: var(--prussian-blue);

    mix-blend-mode: difference;

    font-weight: 400;
}

#captivate-interest{
    grid-row: 9/15;
    grid-column: 10/20;
    text-align: right;
}

#x-one, #x-two{
    grid-row: 9/15;
    grid-column: 9/10;

    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10rem;
    font-weight: 300;
    color: var(--prussian-blue);
}

#x-two{
    grid-row: 3/9;
    grid-column: 13/14;
}